[Desktop Entry]
Name=General Management Tool
Comment=A tool for system monitoring and Management
Exec=/usr/local/bin/GeneralManagementTool.py
Icon=/usr/share/icons/hicolor/scalable/apps/icon_picture.png
Terminal=false
Type=Application
Categories=Utility;System;
