Package: generalmanagementtool
Version: 1.0.0
Section: utils
Priority: optional
Architecture: amd64
Maintainer: Example Corp <info@example.com>
Depends: python3, python3-tk, python3-psutil
Description: General Management Tool - dummy package for update testing
 A dummy package used to test software updates.
